/* General Styles */
html, body {
	height: 100%;
}

body.home {
    background: url( '../img/bg.jpg' ) center 90px no-repeat;
}

header {
        background-color: #FFF;
	border-bottom: 1px solid #CCC;
	margin-bottom: 20px;
}

footer {
	background-color: #FFF;
	border-top: 1px solid #CCC;
	bottom: 0;
	height: 50px;
	padding-top: 30px;
	position: fixed;
	width: 100%;
}

	footer img {
		margin: -15px 15px 0 0px;
	}

	footer strong {
		float: left;
		margin-right: 30px;
	}

/* Navigation */
.navbar {
	margin-right: -45px;
	margin-top: 45px;
	margin-bottom: -20px;
	float: right;
}

	.navbar-inner {
		background: none;
		border: 0;
		box-shadow: none;
	}
	
/* Form Search */
.form-search {
	margin: 0;
}

	.form-search label {
                display: none;
	}
	
	.form-search .group {
                position: relative;
                margin-bottom: 15px;
	}
        
        .form-search .group i {
            position: absolute;
            left: 10px;
            top: 13px;
            opacity: 0.6;
            z-index: 2;
        }
	
	.form-search .time {
		float: right;
                position: relative;
	}
        
        .form-search .icon-current-location {
            background: url( '../img/current-location.jpg' ) left top no-repeat;
            cursor: pointer;
            height: 23px;
            left: auto !important;
            right: 2%;
            top: 9px !important;
            width: 28px;
        }
		
		.form-search .time label {
			margin-right: 15px;
		}
                
                .form-search .time input {
                    margin-top: 0;
                }
		
	.form-search .btn-primary {
		float: right;
	}
        
        .form-search input[type=text] {
            padding: 10px 5px 10px 30px;
            z-index: 1;
        }
        
        .form-search .google-suggest {
            width: 93%;
        }
	
.form-profile {
	
}

	.form-profile .control-label {
		text-align: left;
		width: 150px;
	}
	
	.form-profile .controls {
		margin-left: 150px;
	}
	
.form-add {
	
}

	.form-add .datepicker {
		float: left;
	}

	.form-add .time {
		margin-left: 20px;
		float: left;
	}
	
		.form-add .time label {
			padding-top: 5px;
			margin-right: 20px;
			float: left;
		}
	

                .container-main {
                    position: relative;
                }
                
                .modal-zoeken .modal-body {
                    overflow: visible;
                }
                
                .modal-zoeken {
                    position: relative;
                }

/* Zoekresultaten */
.street {
	
}

.city {
	color: #999;
}

/* Profiel */
.profile {
	
}

	.profile img {
		margin: 0 15px 10px 0;
	}

.border {
}

	.border form {
		margin-top: 20px;
	}

.input-not-medium {
	width: 222px;
}

@media (max-width: 979px) and (min-width: 768px) {
	.input-not-medium {
		width: 125px;
	}
}

/* Phones */
@media (max-width: 480px) {
	.form-search .datepicker, .from-add .datepicker {
		float: left;
	}
        
        header {
            border: 0;
        }
        
        header .pull-left {
            width: 150px;
        }
        
	body {
		padding-bottom: 30px;
	}
}

@media (max-width: 767px) {
}

/* Sidepane menu */

.sidepane {
	background: red;
	left: -200px;
	height: 100%;
	position: fixed;
	width: 200px;
}


/* Other */
.locate-me {
    display: none;
}