/* Layout styles */
html, body, input, label, button {
    font-size: 13px;
}

header {
    border-bottom: 1px solid #CCC;
    margin: 0 0 25px 0;
}

header .menu {
    margin: 25px 0 0 0;
}

header .navbar {
    margin: 45px 0 0 0;
}

header .navbar-inner {
    background: none;
    box-shadow: none;
    border: none;
    text-shadow: none;
}

.footer {
    background-color: #FFF;
    border-top: 1px solid #CCC;
    bottom: 0;
    padding: 15px 0;
    position: fixed;
    width: 100%;
}

.notification {
    margin-bottom: 0;
}

.map {
    background: url( '../img/bg.jpg' ) center top no-repeat;
    margin-top: -25px;
    padding-top: 25px;
    height: 575px;
}