<!DOCTYPE html>
<html th:with="title=#{login.title}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:substituteby="include :: header"></head>

    <body>

        <div th:include="include :: banner"></div>
        
        <div class="map">

            <div class="container">

                <div class="modal" style="position: relative; top: auto; left: auto; right: auto; margin: 0 auto 20px; z-index: 1; max-width: 100%;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 th:text="#{login.title}">Log in met je account</h3>
                    </div>
                    <div class="modal-body">
                        
                        <form class="form-horizontal" action="#" th:action="@{/j_spring_security_check}" method="post">

                            <fieldset>

                                <div class="control-group">
                                    <label class="control-label" for="j_username" th:text="#{login.username}">Username</label>
                                    <div class="controls">
                                        <input id="j_username" name="j_username" type="text"/>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="j_password" th:text="#{login.password}">Password</label>
                                    <div class="controls">
                                        <input id="j_password" name="j_password" type="password"/>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <button class="btn btn-primary" type="submit" th:text="#{login.button}">Submit</button>
                                    </div>
                                </div>

                            </fieldset>

                        </form>

                        <p><a href="#" th:href="@{/signup}" th:text="#{login.noaccount}">No account? Create one now!</a></p>

                    </div>
                </div>

            </div>

        </div>

        <footer th:substituteby="include :: footer"></footer>
    </body>
</html>