<!DOCTYPE html>
<html th:with="title=#{welcome.title}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:substituteby="include :: header"></head>

    <body>

        <div th:include="include :: banner"></div>
		
		<div class="container">
			
			<div class="connect">
				<h3 th:text="#{connected.h3.fb}">Success! You have connected to Social Site!</h3>
				<p>
					<span> is connected to your Social Site account.
					Click the button if you wish to disconnect.</span>
				</p>
				
				<form id="disconnect" action="#" th:action="@{#{${'disconnect.url.fb'}}}" method="post">
					<button type="submit" th:text="#{disconnect.button.fb}">Disconnect from Social</button>	
					<input type="hidden" name="_method" value="delete" />
				</form>
			</div>
		</div>
		
		<div th:include="include :: footer"></div>	
	</body>
</html>