<!DOCTYPE html>
<html th:with="title=#{login.title}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:substituteby="include :: header"></head>

    <body>

        <div th:include="include :: banner"></div>
        
        <div class="map">

            <div class="container">
                <div class="modal rinke">
                    <form class="form-horizontal form-search" action=<c:url value="/resultaten" /> method="POST">
                        <div class="modal-header">
                            <h3>Een rit aanbieden</h3>
                        </div>
                        <div class="modal-body">

                            <fieldset>

                                <div class="group">
                                    <input type="text" name="from" placeholder="Wat is het startpunt?" class="google-suggest">
                                    <i data-toggle="tooltip" data-title="Gebruik je huidige locatie" class="icon-current-location locate-me"></i>
                                    <i class="icon-map-marker"></i>
                                </div>

                                <div class="group">
                                    <input type="text" name="from" placeholder="Wat is de eindbestemming?" class="google-suggest">
                                    <i class="icon-move"></i>
                                </div>

                                <div class="group">
                                    <input type="text" placeholder="20 mei 2013" class="datepicker input-not-medium input-medium">
                                    <i class="icon-calendar"></i>

                                    <p class="time">
                                        <label>Tijd</label>
                                        <input type="text" placeholder="18:00" class="input-mini typeahead" autocomplete="off" data-provide="typeahead">
                                        <i class="icon-time"></i>
                                    </p>
                                </div>

                                <div class="group">
                                    <input type="text" name="zitplaatsen" placeholder="Aantal zitplaatsen?" class="input-not-medium input-medium" />
                                </div>

                                <div class="group">
                                    <div class="checkbox">Roken toegestaan?</div>
                                    <input type="checkbox" name="roken"  class="" />
                                </div>

                                <div class="group">
                                    <textarea class="textarea" name="opmerking" placeholder="     opmerkingen..." rows="4" cols="14"></textarea>
                                </div>

                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" type="submit" name="submit" value="Aanbieden">
                        </div>
                    </form>
                </div>


            </div>

        </div>

        <footer th:substituteby="include :: footer"></footer>
    </body>
</html>